* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Đảm bảo chiều cao của màn hình */
    background-image: url(picturee/istockphoto-1302642699-612x612.jpg);
    padding: 20px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    gap: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding: 40px;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 400px;
}

.form-box {
    margin-bottom: 30px;
    width: 100%;
}

h2 {
    margin-bottom: 100px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin: 50px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #c00000;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}

.image-container {
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    max-height: 100%;
}
